.login {
  padding: 0 2rem;
  min-height: 100vh;
  background: linear-gradient(115deg, #ff9797 0%, #0f0068 100%),
    linear-gradient(245deg, #a8ffe5 0%, #0500ff 100%),
    radial-gradient(100% 225% at 100% 0%, #ff003d 0%, #000000 100%),
    radial-gradient(
      90% 160% at 0% 100%,
      #e42c64 0%,
      #e42c64 30%,
      #614ad3 calc(30% + 1px),
      #614ad3 60%,
      #2d248a calc(60% + 1px),
      #2d248a 70%,
      #121b74 calc(70% + 1px),
      #121b74 100%
    ),
    linear-gradient(
      100deg,
      #48466f 9%,
      #48466d 35%,
      #3d84a8 calc(35% + 1px),
      #3d84a8 65%,
      #46cdcf calc(65% + 1px),
      #46cdcf 70%,
      #abedd8 calc(70% + 1px),
      #abedd8 100%
    );
  background-blend-mode: overlay, overlay, overlay, overlay, normal;
}

.login__container {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.column__one h1 {
  color: #fff;
  font-weight: bold;
  font-size: 5rem;
  width: 50vw;
}

.column__one p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  width: 40vw;
  margin: 2rem 0;
  line-height: 1.4;
}

.column__one button {
  padding: 1rem 2em;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  color: #0500ff;
  transition: all.2s ease;
  background-color: #fff;
}

.column__one button:hover {
  background-color: #0500ff;
  color: #fff;
}

.column__two .column__twoImg {
  width: 50rem;
}

.login__wrapper {
  max-width: 114rem;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__wrapper h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
}

.login__form {
  width: 40rem;
  max-width: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  border-radius: 0.4rem;
}

.login__wrapper span {
  color: red;
  margin-top: -10px;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.login__form label {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.login__form input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  border: 1px solid #0500ff;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.login__form button {
  padding: 1rem 2em;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #0500ff;
  transition: all.2s ease;
  color: #fff;
}

.nav {
  padding: 2rem;
  background-color: #0500ff;
}

.nav__container {
  max-width: 114rem;
  margin: 0% auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo--icon {
  font-size: 3rem;
  display: block;
  margin-right: 0.5rem;
}

.navbar__logo--text {
  font-size: 2rem;
  font-weight: bold;
}

.navbar__cart {
  color: #fff;
  position: relative;
}

.navbar__cart--icon {
  font-size: 2.2rem;
}

.navbar__cart--count {
  position: absolute;
  top: -40%;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.products {
  padding: 4rem 0;
}

.products__container {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 35rem;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 2rem auto;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #ffff;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #0500ff;
}

.btn {
  padding: 1rem 2rem;
  width: 100%;
  margin-top: 1rem;
  background-color: #0500ff;
  color: #fff;
  font-weight: bold;
}
